# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.macao-unity.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\PROJECTS\2020-10-28 Macao\macao-unity\.idea\.idea.macao-unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
